body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*---------HEADER-----*/

.headar-styless {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}
.header-logo-studio {
  color: #2e2f42;
}

.heder-menu-list {
  display: flex;
  gap: 40px;
}

.heder-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  text-decoration: none;
  color: #404bbf;
}
.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.heder-menu-link:hover {
  color: #404bbf;
}
.heder-menu-link:focus {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
}
.header-adress-list {
  display: flex;
  gap: 40px;
}
.header-adress-iten {
}
.header-adress-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress-link:hover {
  color: #404bbf;
}
.header-adress-link:focus {
  color: #404bbf;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*---------HEADER--------*/
/*--------HERO-------*/
.hero {
  background: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*background: url(<path-to-image>) lightgray 0px -167.766px / 100% 139.922% no-repeat;
 */
.hero-title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}
.hero-btn {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  background: #4d5ae5;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.button-hero {
}
/*--------HERO-------*/
/*-------FEATURES----*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  flex-basis: calc((100% - 72px) / 4);
}
.features-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.features-item-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.features-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
/*-------FEATURES----*/

/*-----OUR TEAM----*/
.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  color: E, #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  background: #f4f4fd;
  display: flex;
  gap: 24px;
}
.team-iten {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
}
.team-list-soc-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-iten-icon {
  width: 40px;
  height: 40px;
}
.team-icon-soc {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-soc:hover {
  background-color: #404bbf;
}
.team-icon-soc:focus {
  background-color: #404bbf;
}
.team-icon-svg {
  fill: #f4f4fd;
}
.team-list-item {
  padding: 32px 0;
}
.team-name-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}
/*-----OUR TEAM----*/
/*-----Portfolio----*/
.portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**/

.portfolio-item:hover .portfolio-p-anima {
  transform: translateY(0);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitile {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.portfolio-img-anima {
  position: relative;
  overflow: hidden;
}
.portfolio-p-anima {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----Portfolio----*/

/*Footer*/
.site-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-text {
  margin-right: 120px;
}
.site-footer-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.site-footer-studio {
  color: #f4f4fd;
}

.site-footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
}
.footer-container {
}
.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list-icon-soc {
  display: flex;
  gap: 16px;
}
.footer-item-icon {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover {
  background-color: #31d0aa;
}
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-svg-icon {
  fill: #f4f4fd;
}
.footer-soc-icon {
}
/*Footer*/
.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  /*
  display: flex;
  align-items: center;
  justify-content: center;*/
}
.modal {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
}
.btn-close-modal {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  stroke-width: 1px;

  /* fill: var(--CORNFLOWER, #e7e9fc);*/

  /* начало....*/
} /*
.modal-btn-close-svg {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  padding: 0 auto;
  stroke: rgba(0, 0, 0, 0.1);
}*/

.text-modal {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-bottom: 18px;
  padding-left: 38px;
  outline: transparent;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-input::placeholder {
  color: #8e8f99;
}
.modal-input {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  display: inline-block;
  margin-bottom: 4px;
}
.modal-input-wrap {
  position: relative;
}
.modal-icon {
  fill: transparent;
  position: absolute;
  left: 16px;
  top: 8px;
}
.modal-btn-send {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  margin-bottom: 18px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}
.modal-check-text {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}
.model-check:checked {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: var(--OCEAN, #404bbf);
  stroke-width: 1px;
  stroke: var(--OCEAN, #404bbf);
}
.model-check--link {
  color: #4d5ae5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
